{% extends "base.html"%}
{% load static %}
{% block page_title%}
{{ month|title }} Challenge {% endblock%}

{% block css_files %}
<link rel="stylesheet" href = "{% static "challenges/includes/header.css" %}">
<link rel="stylesheet" href = "{% static "challenges/challenge.css" %}">
{% endblock css_files %}

{% block content %} <h1>
    {% include "challenges/includes/header.html" with active_page="GYAN LE LO<br>" %}
{{ month|title }} ka Mahina </h1>
    {% if text is not null %}
    <p>{{ text }}</p>
    {% else %}
    <p>nothing found</p>
    {% endif %}

    {% endblock%}
