{% load static %}

<li>
    <article class="post">
        <a href=""><img src="{% static "blog/images/mountains.jpg" %}" alt="mountain hiking" />
            <div class="post__content"></div>
            <h3>Mountain hiking</h3>
            <p>there is nothing like view Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptas
                deleniti totam ullam reiciendis a delectus, molestiae voluptatibus atque sed ex vitae excepturi?
                Maxime error at reprehenderit atque aspernatur repudiandae!
            </p>
        </a>
    </article>
</li>